   <h3> Comentar </h3>

   <%= form_for [ @article, @comment ] do |f| %>
       <p>
         <%= f.label 'Tu Nombre' %> <br/>
         <%= f.text_field :name %>
       </p>
       <p>
         <%= f.label 'Comentario' %> <br/>
         <%= f.text_area :body %>
       </p>
       <p>
         <%= f.submit 'Comentar' %>
       </p>
   <% end %>