<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Noticias</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
    <table class="table">
      <thead>
        <th>Noticia</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </thead>
      <tbody>
      <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.created_at %></td>
        <td><%= link_to 'Editar', edit_article_path(article) %> -
        <%= link_to 'Eliminar', article, method: :delete, data: { confirm: 'Estas seguro??' } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to 'Crear Noticia', new_article_path %>
  </div>
</div>