<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="row text-justify">
    <div class="col-md-8 col-md-offset-1">
      <hr>
      <div class="hero-unit">
        <h6><%= @article.created_at %></h6>
        <h2><strong><%= @article.title %></strong></h2>
        <p class="lead"><%= @article.lead %></p>
        <p><%= @article.body %></p>
      </div>
    </div>

  </div>

  <%= link_to 'Volver', pages_home_path %>

</div>