<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="row text-justify">
    <div class="col-md-8 col-md-offset-1">
      <hr>
      <div class="hero-unit">
        <h6><%= @article.created_at %></h6>
        <h2><strong><%= @article.title %></strong></h2>
        <p class="lead"><%= @article.lead %></p>
        <p><%= simple_format(@article.body) %></p>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <hr>
      <h3>Comentarios</h3>
      <h5><i><%= @article.commentString %></i></h5>
      <%= render partial: 'articles/comment', collection: @article.comments.reverse %>
      <hr>
      <%= render partial: 'comments/form' %>
    </div>
  </div>

  <%= link_to 'Volver', pages_home_path %>

</div>