
<div class="container-fluid">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h1>Últimas Noticias</h1>
    </div>
  </div>


  <% @articles.each do |article| %>
    <div class="row text-justify">
      <div class="col-md-8 col-md-offset-1">
        <hr>
        <div class="hero-unit">
          <h6><%= article.created_at.localtime %></h6>
          <h2><strong><%= article.title %></strong></h2>
          <p class="lead"><%= article.lead %></p>
          <p><%= simple_format(article.firstThousand) %></p>
          <br>
          <td><%= link_to 'Ver Noticia', article %></td>
          <h5><span class="glyphicon glyphicon-comment"></span> <%= article.comments.size %> </h5>
        </div>
      </div>

    </div>

  <% end %>


</div>